
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .node {
    @apply w-6 h-6 border border-gray-700 m-[1px] transition-colors duration-200;
  }
  
  .node-default {
    @apply bg-transparent;
  }
  
  .node-wall {
    @apply  bg-white;
  }
  
  .node-start {
    @apply bg-node-start text-white flex items-center justify-center;
  }
  
  .node-end {
    @apply bg-node-end text-white flex items-center justify-center;
  }
  
  .node-visited {
    @apply bg-node-visited animate-visit-node;
  }
  
  .node-shortest-path {
    @apply bg-node-path animate-shortest-path;
  }

  .node-current {
    @apply bg-node-current;
  }
}
